.outer{
border:1px solid black;
width:1200px;
height:650px;
margin:50px 50px 50px 50px;
}
.layout{
border:1px solid black;
width:1175px;
margin:11px 0px 0px 11px;
height:544px;
border-top: 0;
border-left: 0;
border-bottom: 0px;
}
.footer{
border:1px solid black;
width:1174px;
margin:473px -1px 0px 0px;
height:88px;
float:right;
}
.header{
border:1px solid black;
width:1175px;
height:60px;
border-right: 0px;
background-color: yellow;
}
.aside{
border:1px solid black;
width:201px;
height:475px;
border-top: 0px;
border-bottom: 0px;
}
.aside1{
border: 1px solid black;
float:left;
text-align: center;
width: 200px;
border:1px outset black;
height:482px;
margin-top: -573px;
margin-right:400px;
}
